@import "/css/header.css";
@import "/css/footer.css";


@font-face{
    src: url(/fonts/title/alta-regular.otf);
    font-family: alta;
}


/****************** All ******************/

body{
    --light-black: #404040;
    --lower-gradient-z: 2;
    
    background-color: white;
    margin: 0;
}

h1, h2, ul, li{
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    font-family: alta;
    font-weight: normal;
    text-decoration: none;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

#content{
    color: white;
    display: flex;
    overflow-x: hidden;
    width: 100%;
}


/****************** Gallery ******************/

#content{
    display: flex;
    padding: 200px 0 200px 0;
    color: var(--light-black);
}

#content::after{
    content: 'Sorry, this page is currently under construction. Please come back at a later date!';
    width: 250px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}
