@import "/css/header.css";
@import "/css/footer.css";
@import "/css/top.css";


@font-face {
    font-family: 'Alta';
    src: url('/fonts/title/Alta_regular.eot');
    src: url('/fonts/title/Alta_regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/title/Alta_regular.woff2') format('woff2'),
        url('/fonts/title/Alta_regular.woff') format('woff'),
        url('/fonts/title/Alta_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romile';
    src: url('/fonts/title/RomilePersonalUse.eot');
    src: url('/fonts/title/RomilePersonalUse.eot?#iefix') format('embedded-opentype'),
        url('/fonts/title/RomilePersonalUse.woff2') format('woff2'),
        url('/fonts/title/RomilePersonalUse.woff') format('woff'),
        url('/fonts/title/RomilePersonalUse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Black Aroug';
    src: url('/fonts/title/black-aroug/BlackAroug-DemoVersion-Regular.eot');
    src: url('/fonts/title/black-aroug/BlackAroug-DemoVersion-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/title/black-aroug/BlackAroug-DemoVersion-Regular.woff2') format('woff2'),
        url('/fonts/title/black-aroug/BlackAroug-DemoVersion-Regular.woff') format('woff'),
        url('/fonts/title/black-aroug/BlackAroug-DemoVersion-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/paragraph/josefin-sans/JosefinSans.eot');
    src: url('/fonts/paragraph/josefin-sans/JosefinSans.eot?#iefix') format('embedded-opentype'),
        url('/fonts/paragraph/josefin-sans/JosefinSans.woff2') format('woff2'),
        url('/fonts/paragraph/josefin-sans/JosefinSans.woff') format('woff'),
        url('/fonts/paragraph/josefin-sans/JosefinSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/paragraph/josefin-sans/JosefinSans-SemiBold.eot');
    src: url('/fonts/paragraph/josefin-sans/JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/paragraph/josefin-sans/JosefinSans-SemiBold.woff2') format('woff2'),
        url('/fonts/paragraph/josefin-sans/JosefinSans-SemiBold.woff') format('woff'),
        url('/fonts/paragraph/josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/paragraph/josefin-sans/JosefinSans-SemiBoldItalic.eot');
    src: url('/fonts/paragraph/josefin-sans/JosefinSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/paragraph/josefin-sans/JosefinSans-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/paragraph/josefin-sans/JosefinSans-SemiBoldItalic.woff') format('woff'),
        url('/fonts/paragraph/josefin-sans/JosefinSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


/****************** All ******************/

html {
    scroll-behavior: smooth;
}

body {
    --light-black: #404040;
    --lower-gradient-z: 2;

    background-color: #fffbf5;
    margin: 0;
}

h1,
h2,
ul,
li {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    /* font-family: "Alta"; */
    font-weight: normal;
    text-decoration: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

#content {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    background-color: #fffbf5;
    z-index: 2;
}

/* #header.show #links li.gallery>a {
    background-color: #ddc2bf;
    width: calc(100% - 4px);
    margin: 0 2px 0 2px;
    border-radius: var(--header-radius);
    transition: width .5s, margin .5s, background-color .5s, color .5s, border-radius .5s;
    transition-delay: 0s, 0s, 0s, 0s, .35s;
}

#header.show #links li.gallery:hover>a {
    color: #c89c97 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition-delay: 0s, 0s, 0s, 0s, .05s;
}

@media screen and (max-width: 750px) {

    #header.show #links li.gallery>a {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

} */

#header.show li.gallery>a {
    height: calc(var(--header-height) - 1px);
    border-bottom: 1px solid #ca9e85;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color .5s, max-width .5s, max-height .5s, border .5s;
    transition-delay: 0s, .35s, 0s, 0s;
}

#links>ul>li.gallery:hover>a {
    transition-delay: 0s, 0s, 0s, 0s;
}


/****************** Gallery ******************/

#content>div {
    padding: 125px 0 200px 0;
    margin: auto;
}

#content>div>h2 {
    color: var(--light-black);
    font-family: "Romile";
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    /* letter-spacing: 1px; */
    letter-spacing: 0.025em;
    font-size: 50px;
    padding-bottom: 15px;
}

#gallery {
    display: flex;
}


/****************** Filters ******************/

#filters {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 10px;
    border-right: 1px solid var(--light-black);
    -webkit-transition: padding-left 1s;
    -moz-transition: padding-left 1s;
    -o-transition: padding-left 1s;
    transition: padding-left 1s;
}

#filters>div:first-child {
    position: relative;
    width: 0;
    height: 13px;
    padding: 0 !important;
    margin: 0 !important;
    left: calc(100% - 30px);
    z-index: 5;
}

#filters img {
    position: absolute;
    width: 22px;
    height: 13px;
    padding: 10px;
    left: -2px;
    transform: rotate(180deg);
    -webkit-transition: transform .75s;
    -moz-transition: transform .75s;
    -o-transition: transform .75s;
    transition: transform .75s;
}

#filters div:first-child img:hover {
    cursor: pointer;
}

#tab {
    --starting-top: 119px;
    --follow-distance: 0px;

    position: absolute;
    width: 30px;
    top: calc(var(--starting-top) + var(--follow-distance));
    right: -39px;
    z-index: 3;
}

#tab>div {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 10px 0 0;
    background-color: #fffbf5;
    transform: rotate(-90deg);
    transform-origin: top left;
}

#tab>div>div {
    display: inline-block;
    height: 20px;
}

#tab>div>div:has(div.amount.show) {
    margin-left: 5px;
}

#filters div:first-child>div h2 {
    font-family: "Alta";
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
}

#tab>div:not(div:has(div.amount.show))>h2 {
    top: -4px;
}

#filters div:first-child>div div.amount {
    display: inline-block;
    position: relative;
    background-color: var(--light-black);
    height: 18px;
    padding: 1px 8px 1px 8px;
    top: -1px;
    border-radius: 10px;
}

#filters div:first-child>div div.amount h2 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 18px;
    font-family: "Josefin Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: white;
}

#filters div:first-child>div div.amount h2.x {
    position: absolute;
    font-size: 13px;
    line-height: 20px;
    margin-left: 1px;
    top: -2px;
    opacity: 0;
}

#filters div:first-child>div h2:not(div.amount h2):hover {
    cursor: default;
}

#filters div:first-child>div:has(div.amount.show:hover) {
    top: calc(var(--starting-top) + var(--follow-distance) + 12px)
}

#filters div:first-child>div div.amount:hover {
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

#filters div:first-child>div div.amount:hover h2.x {
    position: relative;
    opacity: 1;
}

#filters div:first-child>div div.amount.hidden {
    position: absolute;
    width: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}

#filters div:first-child>div div.amount.hidden:hover {
    cursor: default;
}

#filters h2,
#filters li {
    color: var(--light-black);
    font-family: 'Josefin Sans';
    font-weight: 600;
}

#filters ul,
#filters li,
#filters select {
    display: block;
}

#filters select,
#filters input {
    background-color: #fffbf5;
}

#filters input {
    margin: 3px 3px 3px 4px;
}

#filters>ul {
    width: 200px;
    padding-right: 15px;
    margin-left: auto;
    overflow: hidden;
    -webkit-transition: width 1s, padding-right 1s;
    -moz-transition: width 1s, padding-right 1s;
    -o-transition: width 1s, padding-right 1s;
    transition: width 1s, padding-right 1s;
}

#filters select:hover,
#filters input:hover,
#filters label:hover {
    cursor: pointer;
}

#filters>ul>li,
#filters>ul>li h2 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px;
    padding-left: 0;
}

#filters>ul>li li {
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-style: italic;
    padding-bottom: 4px;
    padding-left: 25px;
}

#filters>ul>li:first-child {
    padding-top: 0;
}

#type li:last-child {
    width: 150px;
    overflow: visible;
}

#filters.hidden {
    padding-left: 32px;
}

#filters.hidden>ul {
    width: 0;
    padding-right: 0;
}

#filters.hidden img {
    transform: rotate(360deg);
}


/****************** Photos ******************/

#photos {
    --total-rows: 10;
    --image-height: 500px;
    --image-width: 300px;
    --column-gap: 20px;

    display: grid;
    grid-template-columns: repeat(4, var(--image-width));
    grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
    grid-auto-rows: minmax(min-content, max-content);
    grid-column-gap: var(--column-gap);
    grid-row-gap: 25px;
    grid-auto-flow: row dense;
    max-height: calc((var(--total-rows) * (var(--image-height) + 50px)) - 25px);
    padding: 20px;
    padding-top: 0;
}

#photo-amount {
    grid-column: span 4;
    height: 11px;
    margin: 0;
    font-size: 11px;
    color: #D0D0D0;
    font-weight: normal;
    font-family: sans-serif;
    text-align: right;
}

#photos h2 {
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    padding: 30px;
}

#photos>div {
    --img-span: 1;

    grid-column: span var(--img-span);
    position: relative;
    width: 100%;
    height: var(--image-height);
    margin: 6px 0 6px 0;
    background-image: radial-gradient(ellipse, transparent, rgba(0, 0, 0, .04));
    /*    scroll-margin-top: 125px;*/
}

#photos div.container {
    --transition-time: .45s;
    /* --transition-time: 5s; */
    --img-position: 0;
    --img-position-left: 0;
    --img-width: 0;
    --img-height: 0;
    --img-max-height: auto;
    --img-min-height: auto;
    --img-max-width: auto;
    --img-min-width: auto;

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    /* right: 0; */
    top: 0;
    width: inherit;
    height: 100%;
    background-color: transparent;
    z-index: 9;
    -webkit-transition: left var(--transition-time), top var(--transition-time), width var(--transition-time), height var(--transition-time), min-height var(--transition-time), background-color var(--transition-time), z-index 0s;
    -moz-transition: left var(--transition-time), top var(--transition-time), width var(--transition-time), height var(--transition-time), min-height var(--transition-time), background-color var(--transition-time), z-index 0s;
    -o-transition: left var(--transition-time), top var(--transition-time), width var(--transition-time), height var(--transition-time), min-height var(--transition-time), background-color var(--transition-time), z-index 0s;
    transition: left var(--transition-time), top var(--transition-time), width var(--transition-time), height var(--transition-time), min-height var(--transition-time), background-color var(--transition-time), z-index 0s;
    transition-delay: 0s, 0s, 0s, 0s, 0s, 0s, var(--transition-time);
}

#photos div.container>div {
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 20px;
    top: -25px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: top .45s, margin .45s, height .45s, opacity .1s;
    -moz-transition: top .45s, margin .45s, height .45s, opacity .1s;
    -o-transition: top .45s, margin .45s, height .45s, opacity .1s;
    transition: top .45s, margin .45s, height .45s, opacity .1s;
    transition-delay: 0s, 0s, 0s, 1s;
}

#photos h3 {
    position: relative;
    width: calc(100% - 10px);
    line-height: 20px;
    height: 20px;
    padding: 0 5px 0 5px;
    margin: 0;
    top: 30px;
    font-size: 20px;
    font-family: "Alta";
    font-weight: normal;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    /* letter-spacing: 1px; */
    letter-spacing: 0.05em;
    color: var(--light-black);
    -webkit-transition: top .75s, margin var(--transition-time);
    -moz-transition: top .75s, margin var(--transition-time);
    -o-transition: top .75s, margin var(--transition-time);
    transition: top .75s, margin var(--transition-time);
}

#photos div.container>div:last-child {
    top: calc(100% + 5px);
    right: 0;
}

#photos div.container>div:last-child h3 {
    top: -35px;
    text-align: right;
    transition-delay: 0s;
}

#photos div.container:hover>div {
    opacity: 1;
    transition-delay: 0s, 0s, 0s, 0s;
}

#photos div.container:hover>div h3 {
    top: 0;
}

#photos div.container:hover>div:last-child h3 {
    transition-delay: .7s;
}

#photos picture {
    display: flex;
    width: 100%;
    min-height: var(--image-height);
    /* max-height: 100%; */
    max-height: var(--image-height);
    min-width: calc(var(--image-width) + ((var(--img-span) - 1) * (var(--image-width) + var(--column-gap))));
    margin: auto;
    overflow: hidden;
    -webkit-transition: height var(--transition-time), max-height var(--transition-time), width var(--transition-time), max-width var(--transition-time);
    -moz-transition: height var(--transition-time), max-height var(--transition-time), width var(--transition-time), max-width var(--transition-time);
    -o-transition: height var(--transition-time), max-height var(--transition-time), width var(--transition-time), max-width var(--transition-time);
    transition: height var(--transition-time), max-height var(--transition-time), width var(--transition-time), max-width var(--transition-time);
}

#photos img {
    /*
    width: 100%;
    max-width: calc(var(--image-width) + ((var(--img-span) - 1) * (var(--image-width) + var(--column-gap))));
    max-height: 100%;
    */
    min-width: calc(var(--image-width) + ((var(--img-span) - 1) * (var(--image-width) + var(--column-gap))));
    max-width: 100%;
    height: 100%;
    min-height: var(--image-height);
    max-height: 100%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: min-width var(--transition-time), max-width var(--transition-time), max-height calc(var(--transition-time) / 2), min-height calc(var(--transition-time) / 2), height var(--transition-time), margin var(--transition-time), box-shadow var(--transition-time);
    -moz-transition: min-width var(--transition-time), max-width var(--transition-time), max-height calc(var(--transition-time) / 2), min-height calc(var(--transition-time) / 2), height var(--transition-time), margin var(--transition-time), box-shadow var(--transition-time);
    -o-transition: min-width var(--transition-time), max-width var(--transition-time), max-height calc(var(--transition-time) / 2), min-height calc(var(--transition-time) / 2), height var(--transition-time), margin var(--transition-time), box-shadow var(--transition-time);
    transition: min-width var(--transition-time), max-width var(--transition-time), max-height calc(var(--transition-time) / 2), min-height calc(var(--transition-time) / 2), height var(--transition-time), margin var(--transition-time), box-shadow var(--transition-time);
    transition-delay: 0s, 0s, 0s, 0s, 0s, 0s, 0s;
}

#photos div.hidden,
#photos div.hidden img {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
}

#photos img:hover {
    cursor: pointer;
}

#photos div.img1,
#photos div.img4,
#photos div.img9,
#photos div.img11,
#photos div.img17,
#photos div.img26,
#photos div.img29,
#photos div.img35,
#photos div.img56,
#photos div.img61,
#photos div.img62,
#photos div.img80,
#photos div.img85,
#photos div.img86,
#photos div.img94,
#photos div.img102,
#photos div.img116,
#photos div.img117,
#photos div.img120,
#photos div.img135,
#photos div.img157,
#photos div.img177,
#photos div.img179,
#photos div.img191,
#photos div.img210,
#photos div.img211,
#photos div.img240,
#photos div.img261,
#photos div.img312,
#photos div.img318,
#photos div.img323,
#photos div.img332,
#photos div.img236,
#photos div.img335,
#photos div.img337 {
    --img-span: 2;
}

#photos div.img15,
#photos div.img24,
#photos div.img31,
#photos div.img59,
#photos div.img69,
#photos div.img76,
#photos div.img83,
#photos div.img118,
#photos div.img126,
#photos div.img187,
#photos div.img212,
#photos div.img221,
#photos div.img233,
#photos div.img234,
#photos div.img255,
#photos div.img282,
#photos div.img300 {
    --img-span: 3;
}

#photos div.img56 img,
#photos div.img57 img,
#photos div.img210 img,
#photos div.img300 img,
#photos div.img318 img,
#photos div.img332 img,
#photos div.img335 img {
    -o-object-position: bottom;
    object-position: bottom;
}

/*
#photos div.expanded{
    background-image: radial-gradient(ellipse, transparent, rgba(0, 0, 0, .04));
}
*/

#photos div.expanded div.container {
    --width: 100vw;
    --img-position: 0px;

    width: var(--width);
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 11;
    -webkit-transition: left var(--transition-time), top var(--transition-time), width var(--transition-time), height var(--transition-time), min-height var(--transition-time), background-color var(--transition-time), z-index 0s;
    -moz-transition: left var(--transition-time), top var(--transition-time), width var(--transition-time), height var(--transition-time), min-height var(--transition-time), background-color var(--transition-time), z-index 0s;
    -o-transition: left var(--transition-time), top var(--transition-time), width var(--transition-time), height var(--transition-time), min-height var(--transition-time), background-color var(--transition-time), z-index 0s;
    transition: left var(--transition-time), top var(--transition-time), width var(--transition-time), height var(--transition-time), min-height var(--transition-time), background-color var(--transition-time), z-index 0s;
    transition-delay: 0s, 0s, 0s, 0s, 0s, calc(var(--transition-time) / 2), 0s;
}

#photos div.expanded picture  {
    max-height: 85vh;
    /* width: 100%; */
    /* margin: 0; */
    overflow: visible;
    -webkit-transition: height var(--transition-time), max-height var(--transition-time), width var(--transition-time), max-width var(--transition-time), margin var(--transition-time);
    -moz-transition: height var(--transition-time), max-height var(--transition-time), width var(--transition-time), max-width var(--transition-time), margin var(--transition-time);
    -o-transition: height var(--transition-time), max-height var(--transition-time), width var(--transition-time), max-width var(--transition-time), margin var(--transition-time);
    transition: height var(--transition-time), max-height var(--transition-time), width var(--transition-time), max-width var(--transition-time), margin var(--transition-time);
}

#photos div.expanded img {
    /*max-width: 90vw;*/
    min-width: var(--img-min-width);
    max-width: var(--img-max-width);
    min-height: var(--img-min-height);
    /* max-height: var(--img-max-height); */
    box-shadow: 0 0 100px black;
    -webkit-transition: min-width var(--transition-time), max-width var(--transition-time), max-height calc(var(--transition-time) / 2), min-height calc(var(--transition-time) / 2), height calc(var(--transition-time) / 2), margin var(--transition-time), box-shadow var(--transition-time);
    -moz-transition: min-width var(--transition-time), max-width var(--transition-time), max-height calc(var(--transition-time) / 2), min-height calc(var(--transition-time) / 2), height calc(var(--transition-time) / 2), margin var(--transition-time), box-shadow var(--transition-time);
    -o-transition: min-width var(--transition-time), max-width var(--transition-time), max-height calc(var(--transition-time) / 2), min-height calc(var(--transition-time) / 2), height calc(var(--transition-time) / 2), margin var(--transition-time), box-shadow var(--transition-time);
    transition: min-width var(--transition-time), max-width var(--transition-time), max-height calc(var(--transition-time) / 2), min-height calc(var(--transition-time) / 2), height calc(var(--transition-time) / 2), margin var(--transition-time), box-shadow var(--transition-time);
    transition-delay: 0s, 0s, 0s, 0s, 0s, 0s, calc(var(--transition-time) / 2);
}

#photos div.expanded div.container>div {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25px;
    height: var(--img-position);
    overflow: visible;
    /* top: var(--img-position); */
    top: 0;
    opacity: 0 !important;
    transition: opacity 0s;
    transition-delay: 0s !important;
    /* margin-top: var(--img-position); */
    /* top: calc(7.5vh - 35px); */
}

#photos div.expanded div.container.big>div {
    opacity: 1 !important;
    transition: opacity .5s;
    transition-delay: .05s !important;
}

#photos div.expanded div.container div h3 {
    position: static;
    color: white;
    width: 100%;
    padding: 0;
    margin: auto 0 0 0;
    top: 0;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    transition-delay: 0s !important;
}

#photos div.expanded div.container>div:first-child h3 {
    margin: auto 0 35px 0;
}

#photos div.expanded div.container>div:last-child h3 {
    font-size: 17px;
    line-height: 17px;
    height: 17px;
    margin: auto 0 12px 0;
}

#photos div.expanded div.container::after {
    content: 'x';
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 0;
    top: 10px;
    right: 20px;
    /* font-family: sans-serif; */
    font-family: 'Josefin Sans';
    font-size: 50px;
    line-height: 45px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    z-index: 5;
}

#photos div.expanded div.container:hover::after {
    cursor: pointer;
}

#photos picture.full {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
    -o-transition: opacity 0s;
    transition: opacity 0s;
    transition-delay: 0s;
}

#photos div.expanded picture.full {
    top: var(--img-position);
    left: var(--img-position-left);
    width: var(--img-width);
    min-width: var(--img-width);
    height: var(--img-height);
    opacity: 1;
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
    transition-delay: calc(var(--transition-time) + 0.15s);
}

#photos picture.full img {
    width: 0;
    height: 0;
    box-shadow: 0 0 0 transparent !important;
}

#photos div.expanded picture.full img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 transparent !important;
}


/****************** BUttons ******************/

#buttons {
    --button-width: 125px;
    --top-offset: 75px;

    position: fixed;
    width: 100%;
    height: 0;
    padding: 0 !important;
    z-index: 11;
}

#buttons div.container {
    --gradient-direction: 90deg;
    --x: 0px;
    --y: 0px;

    display: flex;
    flex-direction: column;
    position: absolute;
    /*    background-image: linear-gradient(var(--gradient-direction), rgba(0, 0, 0, .2) 25%, transparent);*/
    /*    background-color: red;*/
    height: 100vh;
    width: 0;
    /*    opacity: 0;*/
    /*    overflow: hidden;*/
    z-index: 5;
    transition: width .25s, opacity .5s;
    transition-delay: 0s, 0s;
}

#buttons button {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--top-offset));
    padding: 0;
    /*    margin-top: auto;*/
    top: var(--top-offset);
    left: 0;
    background-color: transparent;
    /*    background-color: red;*/
    border: 0;
    z-index: 1;
    transition: width .25s, left .25s;
}

#buttons div.container::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(var(--gradient-direction), rgba(0, 0, 0, .1) 25%, transparent);
    width: 0;
    height: 100vh;
    /*    top: -75px;*/
    top: var(--top-offset);
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: width .25s, top 0s, left .25s, opacity .5s;
    transition-delay: 0s, .5s, 0s, 0s;
}

#content:has(div.expanded) #buttons div.container:has(button.show) {
    /*    width: 100px;*/
    transition-delay: .25s, 0s;
}

#content:has(div.expanded) #buttons div.container:has(button.show)::after {
    width: var(--button-width);
}

#content:has(div.expanded) #buttons button.show {
    width: var(--button-width);
}

#buttons div.container:has(button.right) {
    --gradient-direction: -90deg;

    right: 0;
}

#content:has(div.expanded) #buttons button.right.show {
    left: calc(-1 * var(--button-width));
}

#content:has(div.expanded) #buttons div.container:has(button.right.show)::after {
    /*    right: 0;*/
    left: calc(-1 * var(--button-width));
}

#buttons button div.arrow {
    --arrow-size: 40px;
    --arrow-thickness: 10px;
    --arrow-margin: 45px;
    --horizontal-offset: calc(var(--button-width) - (var(--arrow-size) + var(--arrow-margin)));
    --arrow-color: rgba(255, 255, 255, .35);
    --arrow-direction: -45deg;

    position: absolute;
    width: var(--arrow-size);
    height: var(--arrow-size);
    top: calc(47.5% - (var(--top-offset) / 2));
    right: var(--horizontal-offset);
    border-left: var(--arrow-thickness) solid var(--arrow-color);
    border-top: var(--arrow-thickness) solid var(--arrow-color);
    transform: rotate(var(--arrow-direction));
    transition: border .5s;
}

#buttons button.right div.arrow {
    --arrow-direction: 135deg;
    /*    --arrow-left-offset: calc(var(--button-width) + (var(--arrow-size) / 2));*/

    right: auto;
    left: var(--horizontal-offset);
}

#buttons button:hover {
    cursor: pointer;
}

#buttons div.container:has(button.hidden) {
    width: 0;
}

#buttons div.container:has(button:hover)::after {
    top: 0;
    opacity: 1;
    transition-delay: 0s, 0s, 0s, 0s;
}

#buttons button:hover div.arrow {
    --arrow-color: rgba(255, 255, 255, .725);
}

#buttons div.mouse-shadow {
    --cursor-shadow-size: 600px;
    --cursor-shadow: rgba(0, 0, 0, .175);

    position: absolute;
    width: var(--button-width);
    height: 100vh;
    top: var(--top-offset);
    /*    top: 0;*/
    -webkit-mask-image: linear-gradient(var(--gradient-direction), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(var(--gradient-direction), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0));
    overflow: hidden;
    z-index: -1;
    transition: top 0s;
    transition-delay: 0.5s;
}

#buttons div.container:has(button.left) div.mouse-shadow {
    left: calc(-1 * var(--button-width));
}

#content:has(div.expanded) #buttons div.container:has(button.left.show) div.mouse-shadow {
    left: 0;
}

#buttons div.container:has(button.right) div.mouse-shadow {
    left: 0;
}

#content:has(div.expanded) #buttons div.container:has(button.right.show) div.mouse-shadow {
    left: calc(-1 * var(--button-width));
}

#buttons div.mouse-shadow::after {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 0;
    top: calc((var(--y) * 1px) - (var(--cursor-shadow-size) / 2));
    left: calc((var(--x) * 1px) - (var(--cursor-shadow-size) / 2));
    background: radial-gradient(var(--cursor-shadow), transparent 70%);
    opacity: 0;
    z-index: -2;
    transition: opacity .5s, width 0s, height 0s;
    transition-delay: 0s, .5s, .5s;
}

#buttons div.container:has(button.show:hover) div.mouse-shadow {
    /*    top: -75px;*/
    top: 0;
    transition-delay: 0s;
}

#buttons div.container:has(button.show:hover) div.mouse-shadow::after {
    width: var(--cursor-shadow-size);
    height: var(--cursor-shadow-size);
    opacity: 1;
    transition-delay: 0s, 0s, 0s;
}


@media screen and (max-width: 1575px) {

    #photos {
        grid-template-columns: repeat(3, var(--image-width));
    }

    #photo-amount {
        grid-column: span 3;
    }

}

@media screen and (max-width: 1255px) {

    #filters h2 {
        height: 20px;
        font-size: 20px;
    }

    #filters input,
    #filters label {
        height: 15px;
        font-size: 15px;
    }

    #photos {
        grid-template-columns: repeat(2, var(--image-width));
    }

    #photo-amount {
        grid-column: span 2;
    }

    #photos div.img15,
    #photos div.img24,
    #photos div.img31,
    #photos div.img59,
    #photos div.img69,
    #photos div.img76,
    #photos div.img83,
    #photos div.img118,
    #photos div.img126,
    #photos div.img187,
    #photos div.img212,
    #photos div.img221,
    #photos div.img233,
    #photos div.img234,
    #photos div.img255,
    #photos div.img282,
    #photos div.img300 {
        --img-span: 2;
    }

    /*
    #photos div.expanded img{
        max-width: 94vw;
        height: auto;
        max-height: 80vh;
    }
    */

}

@media screen and (max-width: 935px) {

    #content>div {
        padding-top: 80px;
    }

    #gallery {
        flex-direction: column;
    }

    #content>div>h2 {
        padding-bottom: 20px;
    }

    #filters {
        position: relative;
        border-right: 0;
        border-bottom: 1px solid var(--light-black);
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 40px;
        -webkit-transition: padding-top .75s;
        -moz-transition: padding-top .75s;
        -o-transition: padding-top .75s;
        transition: padding-top .75s;
    }

    #filters.hidden {
        padding-left: 10px;
        padding-top: 0;
    }

    #filters>div:first-child {
        position: absolute;
        bottom: 10px;
        left: 5px;
        height: 23px;
        width: 14px;
    }

    #filters div:first-child img {
        top: -5px;
        left: 0;
        transform: rotate(-90deg);
    }

    #filters img {
        transition: transform .5s;
    }

    #filters.hidden div:first-child img {
        transform: rotate(90deg);
    }

    #tab {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        right: auto;
        left: 35px;
        top: 0;
    }

    #tab>div {
        transform: rotate(0);
    }

    #filters div:first-child>div:has(div.amount.show:hover) {
        top: 0;
    }

    #filters>ul {
        /* display: inline-block; */
        /* display: flex; */
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, auto);
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        max-height: 475px;
        /* height: 610px; */
        padding-right: 0;
        overflow: hidden;
        -webkit-transition: max-height .75s;
        -moz-transition: max-height .75s;
        -o-transition: max-height .75s;
        transition: max-height .75s;
    }

    #filters>ul>li {
        /* display: inline-block; */
        /* float: left; */
        padding-top: 0;
        padding-bottom: 20px;
        margin: 0 auto 0 auto;
    }

    #filters>ul>li h2 {
        padding-top: 0;
    }

    #filters>ul>li li {
        padding-left: 10px;
    }

    #sort-by {
        grid-column: 1 / 2;
        height: max-content;
    }

    #type,
    #lighting {
        grid-column: 2 / 3;
        height: max-content;
    }

    #type ul li {
        width: auto !important;
    }

    #location {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    #location ul {
        --list-width: 138.72px;

        display: grid;
        grid-template-columns: repeat(2, var(--list-width));
        grid-template-rows: repeat(18, auto);
        grid-auto-flow: column;
        width: calc(var(--list-width) * 2);
    }

    #filters.hidden>ul {
        max-height: 0;
        width: auto;
    }

    #filters h2 {
        height: 18px;
        font-size: 18px;
    }

    #filters select,
    #filters option {
        height: 17px;
        font-size: 12px;
    }

    #filters input,
    #filters label {
        height: 13px;
        font-size: 13px;
    }

    #filters ul li ul li {
        padding-bottom: 2px;
    }

    #buttons {
        --button-width: 100px;
    }

    #buttons button div.arrow {
        --arrow-size: 35px;
        --arrow-thickness: 9px;
        --arrow-margin: 35px;
    }

}

@media screen and (max-width: 700px) {

    #photos {
        --image-height: 300px;
        --image-width: 200px;

        margin: auto;
    }

    #buttons {
        --button-width: 90px;
    }

    #buttons button div.arrow {
        --arrow-size: 32px;
        --arrow-thickness: 8px;
        --arrow-margin: 30px;
    }

    #filters>ul {
        max-height: 500px;
    }

    #location ul {
        grid-template-rows: repeat(19, auto);
    }

}

@media screen and (max-width: 650px) {

    /* #filters>ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #filters>ul>li {
        grid-column: 1 / 2;
    }

    #filters>ul>li:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 1 / 6;
    } */

    #filters>ul {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 75px repeat(2, 235px) auto;
        max-height: 725px;
    }

    #sort-by {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #type {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #lighting {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #location {
        grid-column: 2 / 3;
        grid-row: 1 / 5;
    }

    #location ul {
        grid-template-columns: repeat(1, var(--list-width));
        grid-template-rows: auto;
        grid-auto-flow: row;
        width: var(--list-width);
    }

}

@media screen and (max-width: 500px) {

    #photos {
        --image-height: 200px;
        --image-width: 125px;
    }

    #photos div.container>div {
        height: 14px;
        top: -19px
    }

    #photos h3 {
        font-size: 14px;
        line-height: 14px;
        height: 14px;
    }

    #photos div.expanded div.container>div:first-child h3 {
        margin: auto 0 37px 0;
    }

    #photos div.expanded div.container>div:last-child h3 {
        margin: auto 0 9px 0;
    }

    #buttons {
        --button-width: 60px;
    }

    #buttons button div.arrow {
        --arrow-size: 27px;
        --arrow-thickness: 7px;
        --arrow-margin: 22px;
    }

}

/* @media screen and (max-width: 400px) {

    #filters>ul {
        display: flex;
        flex-direction: column;
        height: 1130px;
    }

    #filters>ul>li {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #filters>ul>li:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: auto;
    }

    #filters>ul>li>h2 {
        margin: auto;
    }

    #filters>ul>li>ul {
        margin-left: 40px;
    }

    #filters select {
        width: 100px;
        margin: auto;
    }

} */

@media screen and (max-width: 340px) {

    #filters {
        padding-left: 5px;
        padding-right: 5px;
    }

    #photos {
        --image-height: 250px;
        --image-width: 175px;

        grid-template-columns: repeat(1, var(--image-width));
    }

    #photo-amount {
        grid-column: span 1;
    }

    #photos div.img1,
    #photos div.img4,
    #photos div.img9,
    #photos div.img11,
    #photos div.img17,
    #photos div.img26,
    #photos div.img29,
    #photos div.img35,
    #photos div.img56,
    #photos div.img61,
    #photos div.img62,
    #photos div.img80,
    #photos div.img85,
    #photos div.img86,
    #photos div.img94,
    #photos div.img102,
    #photos div.img116,
    #photos div.img117,
    #photos div.img120,
    #photos div.img135,
    #photos div.img157,
    #photos div.img177,
    #photos div.img179,
    #photos div.img191,
    #photos div.img210,
    #photos div.img211,
    #photos div.img240,
    #photos div.img261,
    #photos div.img312,
    #photos div.img318,
    #photos div.img323,
    #photos div.img332,
    #photos div.img236,
    #photos div.img335,
    #photos div.img337 {
        --img-span: 1;
    }

    #photos div.img15,
    #photos div.img24,
    #photos div.img31,
    #photos div.img59,
    #photos div.img69,
    #photos div.img76,
    #photos div.img83,
    #photos div.img118,
    #photos div.img126,
    #photos div.img187,
    #photos div.img212,
    #photos div.img221,
    #photos div.img233,
    #photos div.img234,
    #photos div.img255,
    #photos div.img282,
    #photos div.img300 {
        --img-span: 1;
    }

    #buttons {
        --button-width: 55px;
    }

    #buttons button div.arrow {
        --arrow-size: 24px;
        --arrow-thickness: 6px;
        --arrow-margin: 20px;
    }

}