
#footer{
    --side-padding: 50px;
    
    position: relative;
    background-color: #A17A64;
    border-top: 4px solid white;
    font-family: sans-serif;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    color: white;
}

#nav{
    display: flex;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#nav div{
    margin-right: 40px;
}

#nav h2{
    display: block;
    padding-bottom: 10px;
    font-size: 18px;
}

#nav li{
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
}

#inclusive{
    margin-left: auto;
    margin-right: 0 !important;
}

#inclusive h2{
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
}

#inclusive div{
    display: inline-block;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}

#inclusive h2:first-child{
    padding-bottom: 0;
    font-weight: bold;
    background: linear-gradient(90deg, #f00000, #f00000, #ff8000, #ff8000, #ffff00, #ffff00, #007940, #007940 , #4040ff, #4040ff, #a000c0, #a000c0) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#socials li{
    display: inline-block;
}

#socials img{
    --social-img-size: 30px;
    
    width: var(--social-img-size);
    height: var(--social-img-size);
    margin-right: 10px;
}

#contact-info{
    display: flex;
    margin: 10px 0 10px 0;
}

#contact-info ul{
    flex-basis: auto;
    margin: auto;
}

#contact-info li{
    font-size: 13px;
    font-family: alta;
    letter-spacing: 1px;
    padding: 2px;
}

#footer > div:last-child{
    display: flex;
}

#footer h3{
    display: block;
    color: white;
    font-size: 9px;
    font-weight: normal;
    padding: 5px;
    padding-left: 0;
    margin: 0;
}

#footer h3:last-child{
    margin-left: auto;
}

@media screen and (max-width: 765px) {
    
    #nav{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
    
    #nav div{
        margin: 0;
    }
    
    #nav h2, #nav ul{
        width: 100%;
        text-align: center;
    }
    
    #socials ul{
        display: flex;
    }
    
    #socials li:first-child{
        margin: 0 5px 0 auto;
    }
    
    #socials li:last-child{
        margin: 0 auto 0 5px;
    }
    
    #socials img{
        margin: 0;
    }
    
    #inclusive{
        display: flex;
        flex-direction: column;
    }
    
    #inclusive h2{
        padding-bottom: 5px;
    }
    
    #inclusive h2:first-child{
        font-weight: bold;
        background: linear-gradient(90deg, #f00000 15%, #f00000, #ff8000, #ff8000, #ffff00, #ffff00, #007940, #007940 , #4040ff, #4040ff, #a000c0, #a000c0 85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
}

@media screen and (max-width: 665px) {

    #nav{
        margin-bottom: 10px;
    }
    
    #nav h2{
        font-size: 18px;
    }
    
    #inclusive h2{
        font-size: 14px;
        padding: 0 0 5px 0;
    }
    
    #nav li{
        font-size: 14px;
    }
    
    #socials img{
        --social-img-size: 30px;
    }
    
    #contact-info li{
        font-size: 12px;
    }
    
    #footer h3{
        font-size: 9px;
    }
    
}

@media screen and (max-width: 570px) {
    
    #footer{
        padding: 30px 20px 25px 20px;
        border-top: 3px solid white;
    }
    
    #nav h2{
        font-size: 15px;
    }
    
    #inclusive{
        padding: 0;
    }
    
    #inclusive h2{
        font-size: 12px;
        padding-bottom: 5px;
    }
    
    #nav li{
        font-size: 12px;
    }
    
    #socials li:first-child{
        margin: 0 4px 0 auto;
    }
    
    #socials li:last-child{
        margin: 0 auto 0 4px;
    }
    
    #socials img{
        --social-img-size: 25px;
    }
    
    #contact-info{
        margin: 20px 0 20px 0;
    }
    
    #contact-info li{
        font-size: 11px;
    }
    
    #footer h3{
        font-size: 8px;
    }

}

@media screen and (max-width: 420px) {
    
    #nav h2{
        font-size: 12px;
    }
    
    #inclusive h2{
        font-size: 10px;
    }
    
    #nav li{
        font-size: 10px;
    }
    
    #socials li:first-child{
        margin: 0 3px 0 auto;
    }
    
    #socials li:last-child{
        margin: 0 auto 0 3px;
    }
    
    #socials img{
        --social-img-size: 20px;
    }
    
    #inclusive h2:first-child{
        font-weight: bold;
        background: linear-gradient(90deg, #f00000 10%, #f00000, #ff8000, #ff8000, #ffff00, #ffff00, #007940, #007940 , #4040ff, #4040ff, #a000c0, #a000c0 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #contact-info{
        margin: 20px 0 20px 0;
    }
    
    #contact-info li{
        font-size: 9px;
    }
    
    #footer h3{
        font-size: 6px;
    }
    
}

@media screen and (max-width: 320px) {
    
    #nav{
        grid-template-columns: repeat(1, 1fr);
    }
    
    #nav > div{
        margin: 10px;
    }
    
    #nav h2{
        font-size: 15px;
    }
    
    #inclusive h2{
        font-size: 13px;
    }
    
    #nav li{
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    #socials li:first-child{
        margin: 0 5px 0 auto;
    }
    
    #socials li:last-child{
        margin: 0 auto 0 5px;
    }
    
    #socials img{
        --social-img-size: 24px;
    }
    
    #inclusive h2:first-child{
        font-weight: bold;
        background: linear-gradient(90deg, #f00000 35%, #f00000, #ff8000, #ff8000, #ffff00, #ffff00, #007940, #007940 , #4040ff, #4040ff, #a000c0, #a000c0 65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #contact-info{
        margin: 20px 0 30px 0;
    }
    
    #contact-info ul{
        display: flex;
        flex-direction: column;
    }
    
    #contact-info li{
        margin: 3px;
        font-size: 10px;
        text-align: center;
    }
    
    #contact-info li:nth-child(2){
        position: absolute;
        opacity: 0;
    }
    
    #footer h3{
        font-size: 7px;
    }
    
}

@media screen and (max-width: 280px) {

    #inclusive h2:first-child{
        font-weight: bold;
        background: linear-gradient(90deg, #f00000 28%, #f00000, #ff8000, #ff8000, #ffff00, #ffff00, #007940, #007940 , #4040ff, #4040ff, #a000c0, #a000c0 72%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
