@import "/css/header.css";
@import "/css/footer.css";
@import "/css/book-now.css";


@font-face {
    font-family: 'Alta';
    src: url('/fonts/title/Alta_regular.eot');
    src: url('/fonts/title/Alta_regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/title/Alta_regular.woff2') format('woff2'),
        url('/fonts/title/Alta_regular.woff') format('woff'),
        url('/fonts/title/Alta_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romile';
    src: url('/fonts/title/RomilePersonalUse.eot');
    src: url('/fonts/title/RomilePersonalUse.eot?#iefix') format('embedded-opentype'),
        url('/fonts/title/RomilePersonalUse.woff2') format('woff2'),
        url('/fonts/title/RomilePersonalUse.woff') format('woff'),
        url('/fonts/title/RomilePersonalUse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Black Aroug';
    src: url('/fonts/title/black-aroug/BlackAroug-DemoVersion-Regular.eot');
    src: url('/fonts/title/black-aroug/BlackAroug-DemoVersion-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/title/black-aroug/BlackAroug-DemoVersion-Regular.woff2') format('woff2'),
        url('/fonts/title/black-aroug/BlackAroug-DemoVersion-Regular.woff') format('woff'),
        url('/fonts/title/black-aroug/BlackAroug-DemoVersion-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/fonts/paragraph/josefin-sans/JosefinSans.eot');
    src: url('/fonts/paragraph/josefin-sans/JosefinSans.eot?#iefix') format('embedded-opentype'),
        url('/fonts/paragraph/josefin-sans/JosefinSans.woff2') format('woff2'),
        url('/fonts/paragraph/josefin-sans/JosefinSans.woff') format('woff'),
        url('/fonts/paragraph/josefin-sans/JosefinSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Holland Regular';
    src: url('/fonts/cursive/holland/Holland.eot');
    src: url('/fonts/cursive/holland/Holland.eot?#iefix') format('embedded-opentype'),
        url('/fonts/cursive/holland/Holland.woff2') format('woff2'),
        url('/fonts/cursive/holland/Holland.woff') format('woff'),
        url('/fonts/cursive/holland/Holland.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/****************** All ******************/

body {
    --light-black: #404040;

    background-color: #FFFBF5;
    margin: 0;
}

h1,
h2,
ul,
li {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    /* font-family: "Alta"; */
    font-weight: normal;
    text-decoration: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

#content {
    color: white;
    overflow-x: hidden;
    width: 100%;
    z-index: 1;
}

#header.show #links li.gallery {
    background-color: #ddc2bf;
}

#header.show #links li.gallery:hover {
    height: var(--links-font-size) !important;
    padding-bottom: calc((var(--header-height) - var(--links-font-size)) / 2) !important;
}

#header.show #links li.gallery>a:hover {
    color: #c89c97 !important;
}


/****************** Top Page ******************/

#top-page {
    width: 100%;
    /* padding: 100px; */
    overflow: hidden;
}

#top-page div.picture {
    position: relative;
    height: 700px;
    z-index: 2;
}

#top-page div.picture::after {
    /*
        Credit to Fabien Snauwaert from Stack Overflow for writing the code for the curve, I only made minor adjustments: https://stackoverflow.com/questions/17202548/wavy-shape-with-css
    */
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 175px;
    width: 100vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 500 60' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='500' style='stroke: none; fill: transparent;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill: %23fffbf5;'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100% 100%;
    transform: scaleY(-1);
    z-index: 3;
}

#top-page div.picture img {
    z-index: 2;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0 20%;
    object-position: 0 20%;
}

#top-page div.picture h2 {
    position: absolute;
    color: #fffbf5;
    font-family: "Black Aroug";
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-size: 120px;
    letter-spacing: 15px;
    letter-spacing: 0.135em;
    width: 100%;
    top: 100px;
    left: 0;
    text-align: center;
    z-index: 4;
}

#top-page div.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 150px 0 25px 0;
    background-color: #FFFBF5;
    z-index: 4
}

div.button {
    --line-thickness: 2px;

    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: var(--line-thickness);
    margin-bottom: 50px;
    justify-content: center;
    overflow: visible;
    background-color: #0e0f0c;
}

div.button div {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto auto auto 15%;
    border: var(--line-thickness) solid #0e0f0c;
    border-radius: 39px;
    background-color: #efe5d6;
    transition: background-color .3s;
}

div.button h3 {
    padding: 13px 24px 13px 24px;
    margin: 0;
    color: #0e0f0c;
    font-family: "Romile";
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    /* letter-spacing: 2px; */
    letter-spacing: 0.06em;
    font-size: 36px;
}

div.button div:hover {
    background-color: #e5d4bc;
}

#top-page div.quick {
    display: flex;
    width: 100%;
    margin-top: 125px;
    background-color: #ffecdf;
}

#top-page div.quick h2 {
    color: #b67354;
    font-family: 'Holland Regular';
    font-size: 75px;
    padding: 35px;
    margin: auto;
}


/****************** Icons ******************/

#icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 0 0 100px 0;
}

#icons h1 {
    grid-column: span 2;
    color: var(--light-black);
    text-align: center;
    font-family: "Black Aroug";
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    /*    font-weight: bold;*/
    font-size: 60px;
    /* letter-spacing: 3px; */
    letter-spacing: 0.05em;
    padding: 75px 0 25px 0;
}

#icons a>div {
    position: relative;
    display: flex;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

#icons div div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, transparent, rgba(0, 0, 0, .35));
    opacity: 0;
    transition: opacity .75s;
    z-index: 3;
}

#icons img {
    position: absolute;
    height: 105%;
    width: 105%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: -webkit-filter .75s;
    transition: filter .75s;
    transition: filter .75s, -webkit-filter .75s;
    z-index: 2;
}

#icons a>div:hover img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

#icons h2 {
    color: #fffbf5;
    margin: auto;
    font-family: "Black Aroug";
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    text-transform: uppercase;
    /*    font-weight: bold;*/
    letter-spacing: 3px;
    letter-spacing: 0.045em;
    font-size: 65px;
    line-height: 100%;
    z-index: 4;
}

#icons a>div:hover {
    cursor: pointer;
}

#icons a>div:hover div {
    opacity: 1;
}

.bottom {
    -o-object-position: bottom;
    object-position: bottom;
}

#icons a:last-child img {
    -o-object-position: left;
    object-position: left;
}


/****************** Instagram ******************/

#ig {
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 55px;
    margin: 100px auto 225px auto;
    border-radius: 20px;
    background-color: #f6eddf;
}

#ig h2 {
    width: 100%;
    color: var(--light-black);
    text-align: center;
    font-family: "Alta";
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-size: 45px;
    letter-spacing: 0.005em;
    margin-top: auto;
}

#ig h3 {
    width: 100%;
    text-align: center;
    color: var(--light-black);
    font-family: 'Josefin Sans';
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-size: 21px;
    letter-spacing: 0.0004em;
    font-weight: normal;
    margin: 5px 0 auto 0;
}

#ig div:first-child {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: auto;
}

#ig div:last-child {
    width: 600px;
    margin-right: auto;
}

/****************** Book Now ******************/

#book-now {
    background-color: white;
}



@media screen and (max-width: 1400px) {

    #top-page div.picture {
        height: 650px;
    }

    #top-page div.picture h2 {
        font-size: 110px;
    }

    #top-page div.picture::after {
        height: 150px;
    }

    #ig div:last-child {
        width: 500px;
    }

    #ig h2 {
        width: 200px;
        margin: auto auto 0 auto;
    }

}

@media screen and (max-width: 1000px) {

    #top-page div.picture {
        height: 590px;
    }

    #top-page div.picture h2 {
        font-size: 100px;
    }

    #top-page div.picture::after {
        height: 125px;
    }

    div.button h3 {
        font-size: 32px;
    }

    #top-page div.quick h2 {
        font-size: 65px;
    }

    #icons a>div {
        height: 600px;
    }

    #icons h1 {
        font-size: 52px;
    }

    #icons h2 {
        font-size: 55px;
    }

    #ig h2 {
        font-size: 35px;
        width: 175px;
    }

    #ig h3 {
        font-size: 18px;
    }

    #ig div:last-child {
        width: auto;
    }

}

@media screen and (max-width: 800px) {

    #top-page div.picture {
        height: 550px;
    }

    #top-page div.picture h2 {
        font-size: 90px;
    }

    #top-page div.picture::after {
        height: 100px;
    }

    div.button h3 {
        font-size: 30px;
    }

    #top-page div.quick h2 {
        font-size: 60px;
    }

    #icons h1 {
        font-size: 47px;
    }

    #icons h2 {
        font-size: 50px;
    }

    #ig {
        flex-direction: column;
    }

    #ig h2 {
        font-size: 30px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    #ig h3 {
        font-size: 15px;
    }

    #ig div:first-child {
        margin: auto;
    }

    #ig div:last-child {
        margin: auto;
    }

}

@media screen and (max-width: 730px) {

    #top-page div.picture {
        height: 515px;
    }

    #top-page div.picture h2 {
        font-size: 80px;
    }

    #top-page div.picture::after {
        height: 75px;
    }

    div.button h3 {
        font-size: 28px;
    }

    #top-page div.quick h2 {
        font-size: 58px;
    }

    #icons a>div {
        height: 450px;
    }

    #icons h1 {
        font-size: 45px;
    }

    #icons h2 {
        font-size: 42px;
    }

    #ig {
        padding-left: 20px;
        padding-right: 20px;
    }

    #ig h3 {
        font-size: 18px;
    }

    #ig div:last-child {
        width: 100%;
    }

}

@media screen and (max-width: 625px) {

    #top-page div.picture {
        height: 480px;
    }

    #top-page div.picture h2 {
        font-size: 75px;
    }

    div.button h3 {
        font-size: 26px;
    }

    #top-page div.quick h2 {
        font-size: 55px;
    }

    #icons h1 {
        font-size: 42px;
    }

    #icons h2 {
        font-size: 34px;
    }

}

@media screen and (max-width: 525px) {

    #top-page div.picture {
        height: 440px;
    }

    #top-page div.picture h2 {
        font-size: 65px;
    }

    #top-page div.picture::after {
        height: 50px;
    }

    div.button div {
        border-radius: 29px;
    }

    div.button h3 {
        padding: 12px 18px 12px 18px;
        font-size: 25px;
    }

    #top-page div.quick h2 {
        font-size: 60px;
    }

    #icons {
        grid-template-columns: 1fr;
    }

    #icons h1 {
        grid-column: span 1;
        font-size: 47px;
    }

    #icons a>div {
        height: 600px;
    }

    #icons h2 {
        font-size: 55px;
    }

}

@media screen and (max-width: 420px) {

    #top-page div.picture {
        height: 420px;
    }

    #top-page div.picture h2 {
        font-size: 58px;
    }

    #top-page div.picture::after {
        height: 40px;
    }

    div.button div {
        margin: auto auto auto 10%;
    }

    div.button h3 {
        font-size: 22px;
    }

    #top-page div.quick h2 {
        font-size: 52px;
        padding: 35px 0 35px 0;
    }

    #icons a>div {
        height: 500px;
    }

    #icons h1 {
        font-size: 42px;
    }

    #icons h2 {
        font-size: 42px;
    }

    #ig {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
    }

    #ig h2 {
        font-size: 25px;
    }

    #ig h3 {
        font-size: 15px;
    }

}