@font-face {
    font-family: 'Alta';
    src: url('/fonts/title/Alta_regular.eot');
    src: url('/fonts/title/Alta_regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/title/Alta_regular.woff2') format('woff2'),
        url('/fonts/title/Alta_regular.woff') format('woff'),
        url('/fonts/title/Alta_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Holland Regular';
    src: url('/fonts/cursive/holland/Holland.eot');
    src: url('/fonts/cursive/holland/Holland.eot?#iefix') format('embedded-opentype'),
        url('/fonts/cursive/holland/Holland.woff2') format('woff2'),
        url('/fonts/cursive/holland/Holland.woff') format('woff'),
        url('/fonts/cursive/holland/Holland.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


#header {
    --header-height: 46px;
    --header-color: #e6d2c6;
    --header-color: #efd9c4;
    --header-color: #fff4ea;
    --header-color: #fffbf5;
    /* --line-color: #efd9c4; */
    --header-radius: calc(var(--header-height) / 2);
    --shadow-color: rgba(0, 0, 0, .2);
    --shadow-color: rgba(255, 251, 245, .2);

    position: fixed;
    display: flex;
    width: 100%;
    height: var(--header-height);
    color: white;
    color: var(--light-black);
    z-index: 10;
    transition: background-color .75s;
}

#header div.border {
    position: absolute;
    top: var(--header-height);
    width: 0;
    /* border-bottom: 2px solid white; */
    /* border-bottom: 2px solid var(--line-color); */
    z-index: 8;
    /*box-shadow: 0 3px 5px rgba(0, 0, 0, .01);*/
    transition: width 1.3s, box-shadow 2s;
}

#header.show div.border {
    width: 100%;
}

#header.show {
    background-color: var(--header-color);
}

#header div.title {
    margin-left: 16px;
    border-radius: var(--header-radius);
    overflow: hidden;
}

#header h1 {
    --brand-font-size: 30px;
    --title-padding: calc((var(--header-height) - var(--brand-font-size)) / 2);

    display: inline-block;
    margin-right: auto;
    padding: var(--title-padding) calc(var(--title-padding) + 3px) var(--title-padding) calc(var(--title-padding) + 3px);
    font-family: "Alta";
    font-family: "Holland Regular";
    /* text-transform: uppercase; */
    /* font-style: italic; */
    /* letter-spacing: .01em; */
    /* word-spacing: .01em; */
    font-size: var(--brand-font-size);
    color: var(--light-black);
    height: var(--brand-font-size);
    line-height: var(--brand-font-size);
    /*    transition: background-color .5s;*/
    transition: background-color .2s, color .2s;
}

#header.hidden h1:hover {
    background-color: var(--shadow-color);
}

#header.show a:hover h1 {
    color: #ca9e85;
}

#links {
    position: relative;
    margin-left: auto;
}

#links ul {
    display: flex;
    margin-right: 14px;
    height: var(--header-height);
    z-index: 10;
}

#links li {
    --links-font-size: 22px;

    position: relative;
    /*    padding: calc((var(--header-height) - var(--links-font-size)) / 2);*/
    font-family: "Alta";
    font-size: var(--links-font-size);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    /*    height: var(--links-font-size);*/
    height: max-content;
    /*    max-height: var(--header-height);*/
    text-align: center;
    letter-spacing: 1px;
    border-radius: var(--header-radius);
    transition: background-color .5s, max-width .5s, max-height .5s;
    transition-delay: 0s, .35s, 0s;
}

#links li h2,
#links li h3 {
    font-family: "Alta";
    /* font-family: "Josefin Sans"; */
    /* text-transform: uppercase; */
    letter-spacing: .05em;
    /* font-weight: bold; */
    font-size: var(--links-font-size);
    line-height: var(--links-font-size);
    color: var(--light-black);
    padding: calc((var(--header-height) - var(--links-font-size)) / 2);
    transition: color .2s, background-color .2s;
}

#links li h3 {
    font-weight: normal;
    margin: 0;
}

#header.hidden div.title a:hover h1, #header.hidden li:hover h2, #header.hidden li:hover>a>h3{
    color: black;
}

#header.hidden ul li:hover {
    background-color: var(--shadow-color);
}

#links>ul>li.gallery {
    --gallery-word-width: 120px;
    --gallery-sublist-width: 197px;

    /*    width: var(--gallery-word-width);*/
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: var(--gallery-word-width);
}

#links li div.container {
    height: max-content;
    overflow: hidden;
    /*    overflow-y: hidden;*/
}

#links li ul {
    --default-sublist-width: 240px;

    display: flex;
    flex-direction: column;
    /*    position: absolute;*/
    position: relative;
    width: max-content;
    min-width: var(--default-sublist-width);
    height: max-content;
    max-height: 0;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    border-radius: 0 0 var(--header-radius) var(--header-radius);
    /*    top: var(--header-height);*/
    overflow: hidden;
    z-index: 9;
    transition: background-color .5s, border .2s, border-radius .5s, max-height .7s;
    transition-delay: 0s, .25s, 0s, 0s;
}

#links li ul li {
    --default-subvalue-width: 196px;

    /*    display: block;*/
    /*    height: 0;*/
    width: max-content;
    /*    min-width: var(--default-subvalue-width);*/
    margin: 0;
    /*    opacity: 0;*/
    text-align: center;
    transition: background-color .5s, color .5s, border .05s, border-radius .75s, height .6s, opacity .6s;
}

#links>ul>li.gallery:hover {

    --total-elements: 8;

    max-width: var(--gallery-sublist-width);
    /*    max-height: calc(var(--header-height) * var(--total-elements)) !important;*/
    /*    height: calc(var(--header-height) * var(--total-elements));*/
    /*    padding: calc((var(--header-height) - var(--links-font-size)) / 2);*/
    /*    padding-bottom: 0;*/
    transition-delay: 0s, 0s, 0s;
}

#links>ul>li.gallery ul {
    width: max-content;
    min-width: calc(var(--gallery-sublist-width) - 4px);
}

#links>ul>li.gallery li {
    /*    width: calc(var(--gallery-sublist-width) - (var(--header-height) - var(--links-font-size)));*/
    width: 100%;
}

/*
#links > ul > li.events{
    --events-word-width: 72.25px;
    
    width: var(--events-word-width);
}

#links > ul > li.events:hover{
    width: 220px;
    height: calc(var(--header-height) * 4);
    padding: calc((var(--header-height) - var(--links-font-size)) / 2);
    padding-bottom: 0;
}

#links > ul > li.events > ul{
    width: 220px;
}

#links > ul > li.events > li{
    width: 196px;
}
*/

#links li:hover ul {
    max-height: calc(var(--header-height) * (var(--total-elements) - 1));
    transition-delay: 0s, .25s, 0s, .25s;
}

#links li:hover ul:hover {
    transition-delay: 0s, .25s, 0s, 0s;
}

#links li:hover ul li {
    /*    height: var(--links-font-size);*/
    height: var(--header-height);
    /* opacity: 1; */
}

#header.show li a {
    transition: color .5s;
}

#header.show li:hover:not(li:has(ul:hover)) h2 {
    color: #ca9e85;
}

#header.show li ul {
    background-color: #ddc2b1;
    /* border: 2px solid white; */
    /* border: 2px solid var(--line-color); */
    /* border-top: 0; */
    border-radius: 0 0 var(--header-radius) var(--header-radius);
    /*    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);*/
}

#header.show ul li:hover ul {
    /*    background-color: #ddc2b1;*/
    /*    border: 2px solid white;*/
    /*    border-top: 0;*/
}

#header.show li ul li {
    border-radius: 0;
}

#header.show li ul li h3{
    color: #fffbf5;
}

#header.show li:hover ul li:hover {
    background-color: #d5b39f;
}

#header.show li:hover ul li a:hover h3 {
    /*    color: #b37651;*/
}


@media screen and (max-width: 990px) {

    #header {
        --header-height: 40px;
    }

    #header h1 {
        --brand-font-size: 25px;
    }

    #links li {
        --links-font-size: 19px;
    }

    #links>ul>li.gallery {
        --gallery-word-width: 93px;
        --gallery-sublist-width: 163px;
    }

}

@media screen and (max-width: 870px) {

    #header {
        --header-height: 36px;
    }

    #header h1 {
        --brand-font-size: 22px;
    }

    #links li {
        --links-font-size: 18px;
    }

    #links>ul>li.gallery {
        --gallery-word-width: 83.89px;
        --gallery-sublist-width: 150px;
    }

}

/*
@media screen and (max-width: 780px) {

    #links>ul>li {
        padding-left: 2px;
        padding-right: 2px;
    }

}
*/

@media screen and (max-width: 750px) {

    #header h1 {
        z-index: 12;
    }

    #burger {
        --arch-radius: 20px;
        --line-spacing: 5px;

        position: relative;
        /*        margin-left: auto;*/
        /*        margin-right: 35px;*/
        margin: auto;
        height: var(--header-height);
        width: 55px;
        border-radius: var(--header-radius);
        transition: background-color .75s, margin-top .75s, width .75s;
    }

    #burger:hover {
        cursor: pointer;
        background-color: var(--shadow-color);
    }

    #burger span {
        --margin-top: 14px;

        position: absolute;
        display: block;
        width: 30px;
        height: 0;
        left: 3px;
        margin: 7px;
        margin-top: var(--margin-top);
        /* border: 2px solid white; */
        border: 1px solid var(--light-black);
        border-bottom: 0;
        border-radius: 0;
        transition: border .2s, height .4s, width .4s, margin-top .4s, margin-left .4s, border-radius .4s;
    }

    #burger span:last-child {
        margin-top: calc(var(--margin-top) + var(--line-spacing));

    }

    #header.hidden #burger:hover span{
        border-top-color: black;
        border-left-color: black;
        border-right-color: black;
    }

    #header.show #burger:hover span{
        border-top-color: #ca9e85;
        border-left-color: #ca9e85;
        border-right-color: #ca9e85;
    }

    #burger.show:hover {
        background-color: transparent;
    }

    #burger.show span {
        height: 20px;
        margin-top: 7px;
        border-radius: var(--arch-radius) var(--arch-radius) 0 0;
    }

    #burger.show span:last-child {
        width: 20px;
        height: 15px;
        margin-top: 12px;
        margin-left: 12px;
        border-radius: calc(var(--arch-radius) - var(--line-spacing)) calc(var(--arch-radius) - var(--line-spacing)) 0 0;
    }

    #links {
        position: absolute;
        right: 0px;
        /*        width: 129.48px;*/
        width: 159.48px;
        height: var(--header-height);
        /*        padding: 0 15px 0 15px;*/
        border-radius: var(--header-radius);
        overflow: hidden;
        transition: background-color .75s, height .75s, padding-bottom .75s;
    }

    #links>ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 0;
        margin: 0;
        overflow: hidden;
        transition: background-color .75s, width .2s, height .7s, border .2s;
        transition-delay: 0s, 0s, 0s, 0s;
    }

    #links li {
        --links-font-size: 16px;
    }

    #links>ul>li {
        width: 100%;
        /*        padding-left: 10px;*/
        /*        padding-right: 10px;*/
        /*        text-align: left;*/
        transition: background-color .75s, border-radius .75s;
    }

    #links li h2 {
        width: calc(100% - 50px);
        padding-left: 25px;
        padding-right: 25px;
        text-align: left;
    }

    #links.show {
        height: calc(var(--header-height) * 7);
        /*        padding-bottom: 15px;*/
    }

    #links.show>ul {
        height: 216px;
    }

    #header.hidden #links.show {
        background-color: rgba(255, 251, 245, .15);
    }

    #header.hidden #links.show:hover {
        background-color: var(--shadow-color);
    }

    #header.show #links>ul>li {
        /*        width: 109.48px;*/
    }

    #header.show #links li h2{
        color: #fffbf5;
    }

    #links.show>ul>li {
        /*        width: 109.48px;*/
        text-align: left;
    }

    #links>ul>li.gallery {
        max-width: none;
    }

    #links>ul>li.gallery ul {
        border: 0;
    }

    #links>ul>li.gallery:hover {
        width: 100%;
        max-width: none;
        /*        max-height: 16px;*/
        /*        padding-bottom: 10px;*/
        padding: 0 !important;
    }

    #links ul li.gallery:hover ul {
        max-height: 0;
        border: 0;
    }

    #header.show div.border {
        z-index: 9;
    }

    #header.show nav #burger {
        /*        left: -10px;*/
        /*
        padding-left: 50px;
        padding-right: 50px;
*/
        /*        margin: auto;*/
        /*        background-color: var(--header-color);*/
        /*        border-radius: 0;*/
    }

    #header.show nav #burger {
        background-color: transparent;
    }

    #header.show nav #burger span {
        /*        left: 77px;*/
    }

    #header.show nav {
        width: 159.48px;
        /*        right: 0;*/
        padding: 0;
        box-shadow: 0;
        overflow: visible;
        z-index: 10;
        transition: background-color .75s, height .75s, border .25s, box-shadow .75s, right .25s, padding-bottom .75s;
    }

    #header.show nav>ul {
        background-color: #ddc2b1;
        width: calc(100% - 4px);
        /* border: 2px solid white; */
        /* border-top: 0; */
        border-radius: 0 0 var(--header-radius) var(--header-radius);
        overflow: hidden;
        transition-delay: 0s, .6s, 0s, .6s;
    }

    #header.show nav li {
        width: 100%;
        /*
        padding-left: 25px;
        padding-right: 25px;
*/
        border-radius: 0;
    }

    #header.show nav li.gallery:hover {
        /*
        width: 109.48px;
        padding-left: 25px;
        padding-right: 25px;
*/
    }

    #header.show nav li:last-child {
        /*        padding-bottom: 11px;*/
        border-radius: 0 0 var(--header-radius) var(--header-radius);
    }

    #header.show nav.show {
        right: 0;
        /*        box-shadow: 0 2px 6px rgba(0, 0, 0, .1);*/
    }

    #header.show nav:hover {
        background-color: transparent;
    }

    #header.show nav.show li:hover {
        background-color: #d5b39f;
    }

    #header.show li:hover:not(li:has(ul:hover)) h2 {
        color: white;
    }

}