
#footer{
    --side-padding: 50px;
    
    background-color: #A17A64;
    border-top: 4px solid white;
    font-family: sans-serif;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    color: white;
}

#nav{
    display: flex;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#nav div{
    margin-right: 40px;
}

#nav h2{
    display: block;
    padding-bottom: 10px;
}

#nav li{
    display: block;
    margin-bottom: 3px;
}

#inclusive{
    margin-left: auto;
}

#inclusive h2{
    display: inline-block;
    font-size: 18px;
    letter-spacing: 2px;
}

#inclusive h2:first-child{
    font-weight: bold;
    background: linear-gradient(90deg, #f00000, #f00000, #ff8000, #ff8000, #ffff00, #ffff00, #007940, #007940 , #4040ff, #4040ff, #a000c0, #a000c0) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#socials li{
    display: inline-block;
}

#socials img{
    --social-img-size: 35px;
    
    width: var(--social-img-size);
    height: var(--social-img-size);
    margin-right: 10px;
}

#contact-info{
    display: flex;
}

#contact-info ul{
    flex-basis: auto;
    margin: auto;
}

#contact-info li{
    font-size: 15px;
    font-family: alta;
    letter-spacing: 1px;
    padding: 2px;
}

#footer > div:last-child{
    display: flex;
}

#footer h3{
    display: block;
    color: white;
    font-size: 11px;
    font-weight: normal;
    padding: 5px;
    padding-left: 0;
    margin: 0;
}

#footer h3:last-child{
    margin-left: auto;
}
