
#header{
    --header-height: 46px;
    --header-color: #e6d2c6;
    --header-radius: 30px;
    --shadow-color: rgba(0, 0, 0, .2);
    
    position: fixed;
    display: flex;
    width: 100%;
    height: var(--header-height);
    z-index: 10;
    transition: background-color .75s;
}

#header div.border{
    position: absolute;
    top: var(--header-height);
    width: 0;
    border-bottom: 3px solid white;
    z-index: 8;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    transition: width 1.3s, box-shadow 2s;
}

#header.show div.border{
    width: 100%;
}

#header.show{
    background-color: var(--header-color);
}

#header h1{
    --brand-font-size: 26px;
    
    display: inline-block;
    margin-right: auto;
    padding: calc((var(--header-height) - var(--brand-font-size)) / 2);
    margin-left: 16px;
    font-size: var(--brand-font-size);
    height: var(--brand-font-size);
    transition: background-color .5s;
    border-radius: var(--header-radius);
}

#header.hidden h1:hover{
    background-color: var(--shadow-color);
}

#links{
    display: inline-block;
    position: relative;
    margin-left: auto;
}

#links ul{
    margin-right: 14px;
    height: var(--header-height);
    z-index: 10;
}

#links li{
    --links-font-size: 22px;
    
    position: relative;
    padding: calc((var(--header-height) - var(--links-font-size)) / 2);
    font-size: var(--links-font-size);
    width: max-content;
    height: var(--links-font-size);
    text-align: center;
    letter-spacing: 1px;
    border-radius: var(--header-radius);
    transition: background-color .5s, width .5s, height .5s;
}

#header.hidden ul li:hover{
    background-color: var(--shadow-color);
}

#links > ul > li.portfolio{
    --portfolio-word-width: 115.312px;
    
    width: var(--portfolio-word-width);
}

#links li ul{
    --default-sublist-width: 240px;
    
    display: block;
    position: absolute;
    height: 0;
    width: var(--default-sublist-width);
    margin: 0;
    overflow: hidden;
    border-radius: 0;
    top: var(--header-height);
    z-index: 9;
    transition: background-color .5s, border .25s, border-radius .5s, height 1s;
}

#links li ul li{
    --default-subvalue-width: 196px;
    
    display: block;
    height: 0;
    width: var(--default-subvalue-width);
    margin: 0;
    opacity: 0;
    text-align: center;
    transition: background-color .5s, border .25s, border-radius .75s, height .6s, opacity .6s;
}

#links > ul > li.portfolio:hover{
    --portfolio-sublist-width: 170px;
    --total-elements: 8;
    
    width: var(--portfolio-sublist-width);
    height: calc(var(--header-height) * var(--total-elements));
    padding: calc((var(--header-height) - var(--links-font-size)) / 2);
    padding-bottom: 0;
}

#links > ul > li.portfolio ul{
    width: var(--portfolio-sublist-width);
}

#links > ul > li.portfolio li{
    width: calc(var(--portfolio-sublist-width) - (var(--header-height) - var(--links-font-size)));
}

/*
#links > ul > li.events{
    --events-word-width: 72.25px;
    
    width: var(--events-word-width);
}

#links > ul > li.events:hover{
    width: 220px;
    height: calc(var(--header-height) * 4);
    padding: calc((var(--header-height) - var(--links-font-size)) / 2);
    padding-bottom: 0;
}

#links > ul > li.events > ul{
    width: 220px;
}

#links > ul > li.events > li{
    width: 196px;
}
*/

#links li:hover ul{
    height: auto;
}

#links li:hover ul li{
    height: var(--links-font-size);
    opacity: 1;
}

#header.show ul li ul{
    border-radius: 0 0 var(--header-radius) var(--header-radius);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

#header.show ul li:hover ul{
    background-color: #ddc2b1;
    border: 3px solid white;
    border-top: 0;
}

#header.show li ul li{
    border-radius: 0;
}

#header.show li:hover ul li:hover{
    background-color: #d5b39f;
}
