@font-face{
    src: url(fonts/alta-regular.otf);
    font-family: alta;
}

@font-face{
    src: url(fonts/alta-light.otf);
    font-family: alta-light;
}

@font-face{
    src: url(fonts/AnticallyRegular-OVox8.ttf);
    font-family: handwriting;
}



body{
    background-color: white;
    padding: 0;
    margin: 0;
}

#content{
    color: white;
}

h1, h2, ul, li{
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    font-family: alta;
    font-weight: normal;
    text-decoration: none;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}



#header{
    background-color: #e6d2c6;
    position: fixed;
    width: 100%;
    height: 46px;
    z-index: 5;
    border-bottom: 3px solid white;
}

#header h1{
    float: left;
    display: inline-block;
    padding: 10px;
    padding-left: 26px;
    font-size: 26px;
}

#links{
    float: right;
    display: inline-block;
    position: relative;
}

#links ul{
    padding-right: 14px;
}

#links li{
    padding: 12px;
    font-size: 22px;
}



#content{
    overflow-x: hidden;
    width: 100%;
}

#top-page{
    --height: 1130px;
    height: var(--height);
    position: relative;
    display: flex;
    flex-direction: column;
}

#images{
    position: relative;
    display: block;
}

#top-page img{
    margin: 0;
    display: block;
    position: absolute;
    object-fit: cover;
    height: calc(var(--height) + 80px);
    width: 100%;
    top: -80px;
    transition: opacity 2.5s;
}

#top-page img.show{
    opacity: 1;
}

#top-page img.hidden{
    opacity: 0;
}

#top-page h2{
    position: absolute;
    float: left;
    top: 700px;
    left: 50px;
    font-family: handwriting;
    font-size: 45px;
    /*border-bottom: 2px solid white;*/
    z-index: 2;
}

#gradient{
    width: 100%;
    height: 700px;
    position: relative;
    background-image: linear-gradient(transparent, white);
    z-index: 1;
    margin-top: auto;
}


#mid-page{
    position: relative;
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
}

#arches{
    flex-basis: 1200px;
    display: flex;
    height: 300px;
    margin: auto;
}

#arches li{
    display: inline-block;
    position: relative;
    flex-basis: 300px;
    height: 500px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    top: -200px;
    z-index: 3;
    border-radius: 1000px;
    border: 5px solid white;
    transition: box-shadow 1.5s, top 1s;
}

#arches li:hover{
    box-shadow: 0px 5px 30px black;
    top: -210px;
}

#arches img{
    width: 300px;
    height: 500px;
    object-fit: cover;
}

#arches h2{
    width: 100%;
    height: 0;
    bottom: 300px;
    font-size: 30px;
    text-align: center;
}

#transition{
    width: 100%;
    height: 200px;
    position: relative;
}

#transition img{
    width: 100%;
    height: 440px;
    object-fit: cover;
    position: absolute;
    top: -354px;
    object-position: bottom;
}

#gallery-peek{
    width: 100%;
}



#footer{
    background-color: #A17A64;
    height: auto;
    border-top: 4px solid white;
    z-index: 4;
    font-family: sans-serif;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

#nav{
    display: flex;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#nav div{
    margin-right: 40px;
}

#nav h2{
    display: block;
    padding-bottom: 10px;
}

#nav li{
    display: block;
    margin-bottom: 3px;
}

#socials li{
    display: inline-block;
}

#socials img{
    width: 35px;
    margin-right: 10px;
}

#contact-info{
    display: flex;
}

#contact-info ul{
    flex-basis: auto;
    margin-left: auto;
    margin-right: auto;
}

#contact-info li{
    font-size: 15px;
    font-family: alta;
    letter-spacing: 1px;
    padding: 2px;
}

#footer h3{
    display: block;
    color: white;
    font-size: 11px;
    font-weight: normal;
    padding: 5px;
    padding-left: 0;
    margin: 0;
}
