@font-face{
    src: url(fonts/alta-regular.otf);
    font-family: alta;
}

@font-face{
    src: url(fonts/alta-light.otf);
    font-family: alta-light;
}

body{
    background-color: #f0f1ed;
    padding: 0;
    margin: 0;
    font-family: alta-light;
}

a{
    text-decoration: none;
    color: white;
}

#header{
    background-color: #e6d2c6;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 1;
}

#header > a h1{
    color: white;
    display: inline-block;
    float: left;
    position: relative;
    font-family: alta;
    font-size: 6vh;
    height: 6vh;
    padding: 0;
    margin: 2vh 3vh 2vh;
}

#header ul{
    list-style: none;
    margin: 0px 4% 0px;
    height: 0px;
    padding: 0px;
}

#links{
    position: relative;
}

#links li{
    display: inline-block;
    float: right;
    font-size: 3vh;
    margin: 3.5vh 3vh 3.5vh;
}

#links a:hover{
    border-bottom: 1px solid white;
}

#top-page{
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#top-page img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}

#top-page img.show{
    opacity: 1;
}

#top-page img.hidden{
    opacity: 0;
}

#top-page h2{
    position: absolute;
    top: 60vh;
    left: 5%;
    width: 60%;
    color: white;
    border-bottom: 2px solid white;
    text-align: right;
    font-size: 3vw;
    transition: color 2s, border-bottom 2s, text-shadow 3.5s;
}

#arches{
    width: 100%;
}

#arches ul{
    list-style-type: none;
    width: 90%;
    padding: 0;
    margin: 2% 5%;
}

#arches li{
    display: inline-block;
    width: 25%;
    height: 30vw;
    margin: 3.9%;
    text-align: center;
    background-color: white;
    border-radius: 47% 47% 0px 0px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 1s;
}

#arches li:hover{
    box-shadow: 1px 1px 10px black;
}

#arches img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#arches h3{
    width: 100%;
    height: 0;
    margin: 0;
    position: relative;
    top: -12vw;
    color: white;
    font-size: 4.6vh;
}

#about-me{
    background-color: #d4c0a7;
    position: relative;
    height: 40vw;
    padding: 0 0 10vw;
    margin: 0px;
}

#about-me img:nth-child(1){
    height: 40vw;
    padding: 0;
    margin: 5vw 20vw 5vw 10vw;
    float: left;
}

#about-me img:nth-child(2){
    height: 20vw;
    position: absolute;
    top: 15vw;
    left: 33vw;
}

#about-me > div{
    position: absolute;
    width: 33vw;
    height: 40vw;
    margin: 5vw 7vw 5vw 60vw;
    color: white;
    overflow: hidden;
}

#about-me h2{
    font-size: 4vw;
}

#about-me p{
    font-size: 1.5vw;
}

/* MEDIA QUERIES */

@media screen and (max-device-aspect-ratio: 490/300), screen and (max-aspect-ratio: 490/300){
    
    #burger{
        width: 5vh;
        height: 5vh;
        margin: 2.5vh 3vh;
        float: right;
        cursor: pointer;
    }

    #burger span{
        display: block;
        background-color: white;
        height: 5%;
        width: 100%;
        margin: 21% 0px;
        transition: .3s;
        position: relative;
        top: 0;
        border-radius: 5px;
    }
    
    #burger span.open:nth-child(1){
        transform: rotate(45deg);
        top: 28%;
    }
    
    #burger span.open:nth-child(3){
        transform: rotate(-45deg);
        top: -28%;
    }
    
    #burger span.open:nth-child(2){
        opacity: 0;
        width: 0;
    }
    
    #links{
        overflow: hidden;
        height: 0;
        width: 41vw;
        margin: 10vh 0 0 59vw;
        transition: .3s;
    }
    
    #links.open{
        background-color: #c9b8ad;
        height: 41vh;
        margin: 10vh 0 0 59vw;
    }
    
    #links ul{
        width: 100%;
    }
    
    #links li{
        display: block;
        width: 100%;
        text-align: center;
        height: 4vh;
        font-size: 4vh;
        padding: 2vh;
        margin: 0;
    }
    
    #links li:nth-child(n + 2){
        border-top: 2px solid #a89a91;
    }
    
    #links li:hover{
        background-color: #a89a91;
    }
    
    #links li a:hover{
        border-bottom: 0px;
    }
    
    #top-page h2{
        font-size: 3.5vw;
        left: 0;
        margin: 5%;
    }
    
    #about-me h2{
        font-size: 4.5vw;
    }

    #about-me p{
        font-size: 2.5vw;
    }
    
}

@media screen and (max-device-aspect-ratio: 250/300), screen and (max-aspect-ratio: 250/300){
    
    #header{
        height: 8vh;
    }
    
    #header > a{
        width: 70vw;
    }
    
    #header > a h1{
        width: inherit;
        height: 4vh;
        font-size: 4vh;
        margin: 2vh 3vh 2vh;
    }
    
    #burger{
        margin: 1.5vh 3vh;
    }
    
    #links{
        width: 41vw;
        margin: 8vh 0 0 59vw;
    }
    
    #links.open{
        height: 36vh;
        width: 41vw;
        margin: 8vh 0 0 59vw;
    }
    
    #links li{
        height: 3vh;
        font-size: 3vh;
        padding: 2vh;
    }
    
    #top-page h2{
        font-size: 5vw;
        width: 90%;
        margin: 5%;
    }
    
    #arches h3{
        font-size: 4vw;
    }
    
    #about-me{
        height: 115vw;
    }
    
    #about-me img:nth-child(1){
        width: 80%;
        height: 60vw;
        margin: 10vw;
        object-fit: cover;
    }
    
    #about-me img:nth-child(2){
        height: 30vw;
        top: 38vw;
        left: 55vw;
    }
    
    #about-me > div{
        width: 80%;
        height: 50vw;
        margin: 70vw 10% 5vw 10%;
    }
    
    #about-me h2{
        font-size: 6vw;
    }

    #about-me p{
        font-size: 3vw;
    }
    
    
}

@media screen and (max-device-aspect-ratio: 190/300), screen and (max-aspect-ratio: 190/300){
    
    #header{
        height: 7vh;
    }
    
    #header > a{
        width: 67vw;
    }
    
    #header > a h1{
        font-size: 3vh;
        height: 3vh;
        margin: 2vh;
    }
    
    #burger{
        height: 4vh;
        width: 4vh;
        margin: 1.5vh 2vh;
    }
    
    #links{
        margin: 7vh 0 0 59vw;
    }
    
    #links.open{
        margin: 7vh 0 0 59vw;
    }
    
    #top-page h2{
        font-size: 6vw;
    }
    
    #arches{
        overflow-x: scroll;
        white-space: nowrap;
    }
    
    #arches li{
        width: 50%;
        margin: 10%;
        height: 60vw;
    }
    
    #arches h3{
        font-size: 7vw;
        top: -30vw;
    }
}

@media screen and (max-device-aspect-ratio: 150/300), screen and (max-aspect-ratio: 150/300){
    
    #header > a{
        width: 35vw;
    }
    
    #header > a h1{
        font-size: 2vh;
        height: 4.15vh;
        margin: 1.5vh;
    }
    
    #burger{
        margin: 1.66vh 2vh;
    }
    
    #links.open{
        height: 20.5vh;
    }
    
    #links li{
        font-size: 2vh;
        height: 2vh;
        padding: 1vh .5vh;
    }
    
    #top-page h2{
        font-size: 7vw;
    }
    
    #arches ul{
        margin: 0;
    }
    
    #arches li{
        width: 70%;
        margin: 10%;
        height: 80vw;
    }
    
    #about-me h2{
        font-size: 8vw;
    }
    
    #about-me p{
        font-size: 4vw;
    }
    
}
