@import "header.css";
@import "footer.css";


@font-face{
    src: url(fonts/alta-regular.otf);
    font-family: alta;
}

@font-face{
    src: url(fonts/alta-light.otf);
    font-family: alta-light;
}

@font-face{
    src: url(fonts/AnticallyRegular-OVox8.ttf);
    font-family: antically-regular;
}

@font-face{
    src: url(fonts/DarlingtonDemo-z8xjG.ttf);
    font-family: halimun;
}


body{
    --light-black: #404040;
    background-color: white;
    padding: 0;
    margin: 0;
}

#content{
    color: white;
}

h1, h2, ul, li{
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    font-family: alta;
    font-weight: normal;
    text-decoration: none;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}


#content{
    overflow-x: hidden;
    width: 100%;
}

#top-page{
    --top_page_height: 1130px;
    height: var(--top_page_height);
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

#images{
    position: relative;
    display: block;
}

#top-page img{
    margin: 0;
    display: block;
    position: absolute;
    object-fit: cover;
    height: calc(var(--top_page_height) + 80px);
    width: 100%;
    top: -80px;
    transition: opacity 2.5s;
}

#top-page img.show{
    opacity: 1;
}

#top-page img.hidden{
    opacity: 0;
}

#top-page h2{
    opacity: 0;
    position: relative;
    float: left;
    top: 650px;
    left: -400px;
    font-family: halimun;
    font-size: 75px;
    color: #404040;
    z-index: 5;
    /*text-shadow: 0 0px 10px white;*/
    word-spacing: 2px;
    transition: left 3.5s, opacity 4.5s;
}

#top-page h2:nth-child(3){
    left: -525px;
    transition: left 3.75s, opacity 4.75s;
}

#top-page h2.loaded:nth-child(2){
    left: 50px;
    opacity: 1;
}

#top-page h2.loaded:nth-child(3){
    left: 150px;
    opacity: 1;
}

#gradient{
    width: 100%;
    height: 700px;
    position: relative;
    background-image: linear-gradient(transparent, white);
    z-index: 4;
    margin-top: auto;
}


#mid-page{
    --mid-page-height: 600px;
    --arches-height: 500px;
    --arches-border-width: 5px;
    --arches-offset: -100px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

#arches{
    width: 1200px;
    height: calc(var(--arches-height) + (2 * var(--arches-border-width)) + var(--arches-offset));
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#arches li{
    display: inline-block;
    position: relative;
    flex-basis: 300px;
    height: var(--arches-height);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    /*top: -200px;*/
    top: calc(var(--arches-offset) + 100px);
    z-index: 6;
    border-radius: 1000px;
    border: var(--arches-border-width) solid white;
    opacity: 0;
    transition: box-shadow 1.5s, top 2s, opacity 3s;
}

#arches li.show{
    top: var(--arches-offset);
    opacity: 1;
}

#arches li.done{
    transition: box-shadow 1.5s, top .75s, opacity 3s;
    top: var(--arches-offset);
    opacity: 1;
}

#arches li.done:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .5);
    top: calc(var(--arches-offset) - 10px);
}

#arches img{
    width: 300px;
    height: var(--arches-height);
    object-fit: cover;
}

#arches h2{
    width: 100%;
    height: 0;
    bottom: 300px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
}


#break{
    position: relative;
    height: 1px;
    width: 321px;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-black);
    align-items: center;
    display: flex;
    z-index: 3;
    transition: width 1s;
}

#break.show{
    width: 1200px;
}

#break h2{
    color: var(--light-black);
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    letter-spacing: 1px;
}


#lower-page-gradient{
    position: fixed;
    width: 100%;
    height: 10vh;
    margin-top: 90vh;
    z-index: 2;
}

#lower-page-gradient div:first-child{
    height: 7vh;
    background-image: linear-gradient(transparent, white);
    z-index: 2;
}

#lower-page-gradient div:last-child{
    height: 3vh;
    background-color: white;
    z-index: 2;
}

#lower-page-gradient.hidden{
    opacity: 0;
}


#lower-page{
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;
    z-index: 1;
}

#lower-page > div{
    --lower-page-radius: 40px;
    --lower-page-padding: 100px;
    --lower-page-border-thickness: 2px;
    --about-me-height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#lower-page > div > div:first-child > div:first-child{
    display: inline-block;
    width: calc(var(--lower-page-padding) + var(--lower-page-radius) + var(--lower-page-border-thickness));
    height: calc(var(--about-me-height) + var(--lower-page-border-thickness) + var(--lower-page-padding) + 40px);
}

#about-me{
    display: inline-block;
    float: right;
    padding: var(--lower-page-padding);
    padding-left: 0;
    padding-top: 40px;
    border: var(--lower-page-border-thickness) solid var(--light-black);
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: calc(var(--lower-page-padding) + var(--lower-page-radius));
}

#about-me > div{
    position: relative;
    display: flex;
    width: calc(100% + var(--lower-page-padding) + var(--lower-page-radius));
    left: calc(-1 * (var(--lower-page-padding) + var(--lower-page-radius)));
    z-index: 3;
}

#about-me-container{
    background-color: red;
    height: var(--about-me-height);
}

#about-me-pictures{
    min-width: 600px;
    height: var(--about-me-height);
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

#about-me-pictures img{
    width: 300px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

#about-me-pictures img:nth-child(2){
    object-position: left;
}

#about-me-desc{
    --about-me-color: #e6d2c6;
    position: relative;
    float: right;
    background-color: var(--about-me-color);
    min-width: 400px;
    height: calc(var(--about-me-height) - 100px);
    margin-left: 70px;
    padding: 40px;
    padding-top: 60px;
    border-bottom-right-radius: 40px;
}

#about-me-desc h2{
    font-family: antically-regular;
    padding: 20px;
    background-color: white;
    color: var(--light-black);
    position: absolute;
    top: -40px;
    left: -70px;
    border: 3px solid var(--light-black);
    border-bottom: 0;
    border-right: 0;
}

#about-me-desc p{
    font-family: alta;
    letter-spacing: 1px;
    font-size: 20px;
}

#about-me-desc h3{
    width: max-content;
    font-family: alta;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    font-size: 23px;
}

#about-me-desc-more{
    width: max-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#about-me-desc-more div{
    width: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid white;
    transition: width .5s;
}

#about-me-desc-more:hover div{
    width: 100%;
}


#lower-page > div > div:last-child{
    position: relative;
    display: flex;
    top: -6px;
    width: 100%;
}

#my-work{
    position: relative;
    display: inline-block;
    width: calc(100% - 50px);
    height: calc(var(--about-me-height) + var(--lower-page-border-thickness) + (2 * var(--lower-page-padding)));
    border: var(--lower-page-border-thickness) solid var(--light-black);
    border-right: 0;
    border-bottom: 0;
    border-top-left-radius: calc(var(--lower-page-padding) + var(--lower-page-radius));
}

#my-work h2{
    position: absolute;
    width: max-content;
    color: var(--light-black);
    transform: rotate(-90deg);
    left: calc((-1 * var(--lower-page-padding)) + 23px);
    top: 300px;
    font-size: 22px;
    letter-spacing: 1px;
    z-index: 3;
}

#my-work-content{
    position: relative;
    height: calc(var(--about-me-height) + 202px);
    width: calc(100% + var(--lower-page-padding) + var(--lower-page-radius));
    border-top-left-radius: calc(var(--lower-page-padding) + var(--lower-page-radius));
    padding-right: 50px;
    overflow: hidden;
    z-index: 3;
}

#my-work-content div.content{
    width: 100%;
    height: calc(100% - 60px);
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, .8fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    z-index: 3;
}

#my-work-content button.shadow-scroll{
    float: left;
    position: absolute;
    width: calc(var(--lower-page-padding) + var(--lower-page-radius) + 50px);
    height: 100%;
    top: 0;
    padding: 0;
    border: 0;
    background: transparent;
    background-image: linear-gradient(90deg, rgb(0, 0, 0, .1), transparent);
    border-top-left-radius: calc(var(--lower-page-padding) + var(--lower-page-radius));
    overflow: hidden;
    opacity: 0;
    z-index: 4;
    transition: opacity 1s;
}

#my-work-content button.shadow-scroll div.arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 46%;
    left: 30px;
    border-left: 10px solid rgba(255, 255, 255, .7);
    border-top: 10px solid rgba(255, 255, 255, .7);
    transform: rotate(-45deg);
    z-index: 5;
}

#my-work-content button.shadow-scroll div.mouse-shadow{
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#my-work-content button.shadow-scroll div.mouse-shadow::after{
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    top: calc((var(--y, 0) * 1px) - 400px);
    left: calc((var(--x, 0) * 1px) - 400px);
    opacity: .6;
    background: radial-gradient(rgba(0, 0, 0, .5), transparent 70%);
}

#my-work-content button.shadow-scroll:hover{
    opacity: 1;
    cursor: pointer;
}

#my-work-content button.shadow-scroll:last-child{
    left: calc(100% - var(--lower-page-padding) - var(--lower-page-radius) - 50px);
    border-radius: 0;
    background-image: linear-gradient(-90deg, rgb(0, 0, 0, .1), transparent);
}

#my-work-content button.shadow-scroll:last-child div.arrow{
    transform: rotate(135deg);
    left: calc(var(--lower-page-padding) + var(--lower-page-radius) - 30px)
}

#my-work-content button.shadow-scroll:last-child div.mouse-shadow{
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#my-work-content button.shadow-scroll:last-child div.mouse-shadow::after{
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    top: calc((var(--y, 0) * 1px) - 400px);
    left: calc((var(--x, 0) * 1px) - 400px);
}

#my-work-content div.content div{
    overflow: hidden;
    border: 20px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    z-index: 3;
    transition: box-shadow .75s;
}

#my-work-content > div.content > div:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#my-work-content > div.content > div:nth-child(8n + 1){
    grid-column: 1 / 2;
    grid-row: 3 / 14;
}

#my-work-content > div.content > div:nth-child(8n + 2){
    grid-column: 2 / 3;
    grid-row: 1 / 9;
}

#my-work-content > div.content > div:nth-child(8n + 3){
    grid-column: 3 / 4;
    grid-row: 2 / 13;
}

#my-work-content > div.content > div:nth-child(8n + 4){
    grid-column: 4 / 5;
    grid-row: 3 / 10;
}

#my-work-content > div.content > div:nth-child(8n + 5){
    grid-column: 1 / 2;
    grid-row: 14 / 21;
}

#my-work-content > div.content > div:nth-child(8n + 6){
    grid-column: 2 / 3;
    grid-row: 9 / 21;
}

#my-work-content > div.content > div:nth-child(8n + 7){
    grid-column: 3 / 4;
    grid-row: 13 / 20;
}

#my-work-content > div.content > div:nth-child(8n){
    grid-column: 4 / 5;
    grid-row: 10 / 21;
}

#my-work-content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#my-work-explore{
    --explore-font-size: 40px;
    position: relative;
    display: flex;
    width: calc(100% + var(--lower-page-padding) + var(--lower-page-radius));
    height: max-content;
    margin-top: 10px;
    z-index: 3;
}

#my-work-explore > div{
    width: max-content;
    height: calc(var(--explore-font-size) + 44px);
    margin: 0;
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

#my-work-explore h3{
    color: var(--light-black);
    font-family: antically-regular;
    font-weight: normal;
    font-size: 40px;
    margin: 0;
}

#my-work-explore > div > div{
    position: relative;
    width: 0;
    height: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    top: -32px;
    border-bottom: 2px solid var(--light-black);
    transition: width .5s;
}

#my-work-explore > div:hover div{
    width: 100%;
}

#lower-page > div > div:last-child > div:last-child{
    display: inline-block;
    width: calc(var(--lower-page-padding) + var(--lower-page-radius) + var(--lower-page-border-thickness));
    height: calc(var(--about-me-height) + var(--lower-page-border-thickness) + (2 * var(--lower-page-padding)));
}


#transition{
    --transition-height: 600px;
    width: 100%;
    height: var(--transition-height);
    position: relative;
    z-index: 2;
}

#transition img{
    --transition-img-height: 450px;
    width: 100%;
    height: var(--transition-img-height);
    object-fit: cover;
    position: absolute;
    top: calc(var(--transition-height) - var(--transition-img-height));
    object-position: bottom;
}
